@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@keyframes letter-rotate {
	0% {
		transform: rotate3d(1, 0, 0, 0deg);
	}
	50% {
		transform: rotate3d(1, 0, 0, 90deg);
	}
	100% {
		transform: rotate3d(1, 0, 0, 0deg);
	}
}

.shake {
	animation: shake 400ms ease-in-out;
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-9%);
	}
	50% {
		transform: translateX(9%);
	}
	75% {
		transform: translateX(-4%);
	}
	100% {
		transform: translateX(4%);
	}
}
